In [1]:
!pip3 install yfinance

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Collecting yfinance
  Downloading yfinance-0.1.66-py2.py3-none-any.whl (25 kB)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.4.tar.gz (3.2 MB)
     |████████████████████████████████| 3.2 MB 2.5 MB/s
  Preparing metadata (setup.py) ... done
Requirement already satisfied: requests>=2.20 in /opt/homebrew/lib/python3.9/site-packages (from yfinance) (2.26.0)
Collecting pandas>=0.24
  Downloading pandas-1.3.4.tar.gz (4.7 MB)
     |████████████████████████████████| 4.7 MB 11.0 MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.10.tar.gz (8.2 kB)
  Preparing metadata (setup.py) ... done
Collecting numpy>=1.15
  Downloading numpy-1.21.4-cp39-cp39-macosx_11_0_arm64.whl (12.4 MB)
     |████████████████████████████████| 12.4 MB 11.8 MB/s
Requirement already satisfied: pytz>=2017.3 in /opt/homebrew/lib/python3.9/site-packages (from pandas>=0.24->yfinance) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/homebrew/lib/python3.9/site-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/homebrew/lib/python3.9/site-packages (from requests>=2.20->yfinance) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/homebrew/lib/python3.9/site-packages (from requests>=2.20->yfinance) (2.0.7)
Requirement already satisfied: idna<4,>=2.5 in /opt/homebrew/lib/python3.9/site-packages (from requests>=2.20->yfinance) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in /opt/homebrew/lib/python3.9/site-packages (from requests>=2.20->yfinance) (2021.10.8)
Requirement already satisfied: six>=1.5 in /opt/homebrew/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.16.0)
Building wheels for collected packages: lxml, multitasking, pandas
  Building wheel for lxml (setup.py) ... done
  Created wheel for lxml: filename=lxml-4.6.4-cp39-cp39-macosx_12_0_arm64.whl size=1490779 sha256=9b7432b6e527c2f6b51cd9b4b3a02360a192ce0ba54150de2df967335fe304ce
  Stored in directory: /Users/rin/Library/Caches/pip/wheels/d5/6b/5e/b142560ac169938c9ed1427b65bc033f31f831eac41fe07a09
  Building wheel for multitasking (setup.py) ... done
  Created wheel for multitasking: filename=multitasking-0.0.10-py3-none-any.whl size=8500 sha256=dddee4b86be1f573ae9cf877f7e2953c25e38fd18065cca4dd5583bc2dc2f0c3
  Stored in directory: /Users/rin/Library/Caches/pip/wheels/f2/b5/2c/59ba95dcf854e542944c75fe3da584e4e3833b319735a0546c
  Building wheel for pandas (pyproject.toml) ... done
  Created wheel for pandas: filename=pandas-1.3.4-cp39-cp39-macosx_12_0_arm64.whl size=10241107 sha256=73ee49d5a23dbab39e076189997c58f6ae6aba0bffb6388ec431e542467b59bc
  Stored in directory: /Users/rin/Library/Caches/pip/wheels/44/1a/bb/e1d1c2bc72adfa0c96d573d26755d412caa9a1a60b6898983c
Successfully built lxml multitasking pandas
Installing collected packages: numpy, pandas, multitasking, lxml, yfinance
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Successfully installed lxml-4.6.4 multitasking-0.0.10 numpy-1.21.4 pandas-1.3.4 yfinance-0.1.66

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

%matplotlib inline

ModuleNotFoundError: No module named 'matplotlib'

In [ ]:
aapl = yf.Ticker('AAPL')

In [ ]:
aapl.history()

In [3]:
pip3 install matplotlib

SyntaxError: invalid syntax (3294770864.py, line 1)

In [4]:
!pip3 install matplotlib

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Collecting matplotlib
  Downloading matplotlib-3.4.3.tar.gz (37.9 MB)
     |████████████████████████████████| 37.9 MB 9.3 MB/s
  Preparing metadata (setup.py) ... done
Collecting cycler>=0.10
  Downloading cycler-0.11.0-py3-none-any.whl (6.4 kB)
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.3.2-cp39-cp39-macosx_11_0_arm64.whl (59 kB)
     |████████████████████████████████| 59 kB 4.8 MB/s
Requirement already satisfied: numpy>=1.16 in /opt/homebrew/lib/python3.9/site-packages (from matplotlib) (1.21.4)
Collecting pillow>=6.2.0
  Downloading Pillow-8.4.0-cp39-cp39-macosx_11_0_arm64.whl (2.8 MB)
     |████████████████████████████████| 2.8 MB 12.4 MB/s
Requirement already satisfied: pyparsing>=2.2.1 in /opt/homebrew/lib/python3.9/site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: python-dateutil>=2.7 in /opt/homebrew/lib/python3.9/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in /opt/homebrew/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Building wheels for collected packages: matplotlib
  Building wheel for matplotlib (setup.py) ... done
  Created wheel for matplotlib: filename=matplotlib-3.4.3-cp39-cp39-macosx_12_0_arm64.whl size=7090871 sha256=39e43a03770608c755e96f9c1ad6943a8e45922c7001bf6ff88035bf939e0a08
  Stored in directory: /Users/rin/Library/Caches/pip/wheels/7e/a8/7b/f49b10050fd81258389e7e8e655a4f522905360ca21d58adcc
Successfully built matplotlib
Installing collected packages: pillow, kiwisolver, cycler, matplotlib
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Successfully installed cycler-0.11.0 kiwisolver-1.3.2 matplotlib-3.4.3 pillow-8.4.0

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

%matplotlib inline

In [6]:
aapl = yf.Ticker('AAPL')

In [7]:
aapl.history()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-10-13,141.034172,141.193927,138.997136,140.704651,78762700,0.00,0
2021-10-14,141.902902,143.670327,141.303770,143.550491,69907100,0.00,0
2021-10-15,143.560489,144.688832,143.300858,144.628922,67885200,0.00,0
2021-10-18,143.240938,146.625996,142.951367,146.336426,85589200,0.00,0
2021-10-19,146.795748,148.952604,146.336427,148.543198,76378900,0.00,0
2021-10-20,148.483299,149.531772,147.904142,149.042480,58418800,0.00,0
2021-10-21,148.593124,149.421916,147.654492,149.262146,61421000,0.00,0
2021-10-22,149.471855,149.961131,148.423382,148.473312,58883400,0.00,0
2021-10-25,148.463321,149.152318,147.404868,148.423386,50720600,0.00,0
2021-10-26,149.112382,150.620176,148.792841,149.102402,60893400,0.00,0
2021-10-27,149.142338,149.511794,148.273611,148.633087,56094900,0.00,0
2021-10-28,149.601664,152.946773,149.501804,152.347656,100077900,0.00,0
2021-10-29,147.005454,149.721491,146.196637,149.581696,124850400,0.00,0
2021-11-01,148.772875,149.481832,147.584607,148.742920,74588300,0.00,0
2021-11-02,148.443358,151.349121,148.433363,149.801376,69122000,0.00,0
2021-11-03,150.170838,151.748538,149.601677,151.269241,54511500,0.00,0
2021-11-04,151.359097,152.207849,150.420465,150.740005,60394600,0.00,0
2021-11-05,151.889999,152.199997,150.059998,151.279999,65414600,0.22,0
2021-11-08,151.410004,151.570007,150.160004,150.440002,55020900,0.00,0
2021-11-09,150.199997,151.429993,150.059998,150.809998,56787900,0.00,0
2021-11-10,150.020004,150.130005,147.850006,147.919998,65187100,0.00,0
2021-11-11,148.960007,149.429993,147.679993,147.869995,41000000,0.00,0
2021-11-12,148.429993,150.399994,147.479996,149.990005,63632600,0.00,0

In [8]:
aapl.history(period='50d').shape

(50, 7)

In [9]:
aapl.history(period='50d')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-09-03,153.535913,154.404655,152.866891,154.075134,57808700,0.00,0
2021-09-07,154.744160,157.030816,154.165003,156.461655,82278300,0.00,0
2021-09-08,156.751227,156.811137,153.755599,154.883957,74420200,0.00,0
2021-09-09,155.263403,155.882495,153.725639,153.845474,57305700,0.00,0
2021-09-10,154.774110,155.253406,148.483288,148.752899,140646400,0.00,0
2021-09-13,150.410490,151.199332,148.533225,149.332062,102404300,0.00,0
2021-09-14,150.130890,150.849842,146.695901,147.904129,109296300,0.00,0
2021-09-15,148.343489,149.222211,146.156678,148.812805,83281300,0.00,0
2021-09-16,148.223670,148.752896,147.005447,148.573151,68034100,0.00,0
2021-09-17,148.603125,148.603125,145.547572,145.847137,129868800,0.00,0
2021-09-20,143.590437,144.628914,141.064125,142.731689,123478900,0.00,0
2021-09-21,143.720234,144.389271,142.571916,143.220963,75834000,0.00,0
2021-09-22,144.239482,146.216592,143.490575,145.637451,76404300,0.00,0
2021-09-23,146.436282,146.865664,145.427760,146.616028,64838200,0.00,0
2021-09-24,145.447729,147.255088,145.347868,146.705887,53477900,0.00,0
2021-09-27,145.258002,145.747294,143.610413,145.158142,74150700,0.00,0
2021-09-28,143.041229,144.539043,141.483505,141.703186,108972300,0.00,0
2021-09-29,142.262381,144.239491,141.823019,142.621857,74602000,0.00,0
2021-09-30,143.450649,144.169601,141.074112,141.293793,88934200,0.00,0
2021-10-01,141.693201,142.711719,138.907274,142.442108,94639600,0.00,0
2021-10-04,141.553402,142.002759,138.068498,138.937225,98322000,0.00,0
2021-10-05,139.286724,142.032716,139.156908,140.904358,80861100,0.00,0
2021-10-06,139.266749,141.942836,138.168346,141.793060,83221100,0.00,0
2021-10-07,142.851516,144.009829,142.512015,143.081177,61732700,0.00,0
2021-10-08,143.820100,143.969875,142.352241,142.691742,58718700,0.00,0
2021-10-11,142.062677,144.598968,141.603340,142.601883,64452200,0.00,0
2021-10-12,143.021267,143.041242,140.834456,141.303772,73035900,0.00,0
2021-10-13,141.034172,141.193927,138.997136,140.704651,78762700,0.00,0
2021-10-14,141.902902,143.670327,141.303770,143.550491,69907100,0.00,0
2021-10-15,143.560489,144.688832,143.300858,144.628922,67885200,0.00,0
2021-10-18,143.240938,146.625996,142.951367,146.336426,85589200,0.00,0
2021-10-19,146.795748,148.952604,146.336427,148.543198,76378900,0.00,0
2021-10-20,148.483299,149.531772,147.904142,149.042480,58418800,0.00,0
2021-10-21,148.593124,149.421916,147.654492,149.262146,61421000,0.00,0
2021-10-22,149.471855,149.961131,148.423382,148.473312,58883400,0.00,0
2021-10-25,148.463321,149.152318,147.404868,148.423386,50720600,0.00,0
2021-10-26,149.112382,150.620176,148.792841,149.102402,60893400,0.00,0
2021-10-27,149.142338,149.511794,148.273611,148.633087,56094900,0.00,0
2021-10-28,149.601664,152.946773,149.501804,152.347656,100077900,0.00,0
2021-10-29,147.005454,149.721491,146.196637,149.581696,124850400,0.00,0
2021-11-01,148.772875,149.481832,147.584607,148.742920,74588300,0.00,0
2021-11-02,148.443358,151.349121,148.433363,149.801376,69122000,0.00,0
2021-11-03,150.170838,151.748538,149.601677,151.269241,54511500,0.00,0
2021-11-04,151.359097,152.207849,150.420465,150.740005,60394600,0.00,0
2021-11-05,151.889999,152.199997,150.059998,151.279999,65414600,0.22,0
2021-11-08,151.410004,151.570007,150.160004,150.440002,55020900,0.00,0
2021-11-09,150.199997,151.429993,150.059998,150.809998,56787900,0.00,0
2021-11-10,150.020004,150.130005,147.850006,147.919998,65187100,0.00,0
2021-11-11,148.960007,149.429993,147.679993,147.869995,41000000,0.00,0
2021-11-12,148.429993,150.399994,147.479996,149.990005,63632600,0.00,0

In [10]:
aapl.history(period='max')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1980-12-12,0.100453,0.100890,0.100453,0.100453,469033600,0.0,0.0
1980-12-15,0.095649,0.095649,0.095213,0.095213,175884800,0.0,0.0
1980-12-16,0.088661,0.088661,0.088224,0.088224,105728000,0.0,0.0
1980-12-17,0.090408,0.090845,0.090408,0.090408,86441600,0.0,0.0
1980-12-18,0.093029,0.093466,0.093029,0.093029,73449600,0.0,0.0
...,...,...,...,...,...,...,...
2021-11-08,151.410004,151.570007,150.160004,150.440002,55020900,0.0,0.0
2021-11-09,150.199997,151.429993,150.059998,150.809998,56787900,0.0,0.0
2021-11-10,150.020004,150.130005,147.850006,147.919998,65187100,0.0,0.0
2021-11-11,148.960007,149.429993,147.679993,147.869995,41000000,0.0,0.0
2021-11-12,148.429993,150.399994,147.479996,149.990005,63632600,0.0,0.0

In [13]:
days = 20
hist = aapl.history(period=f'{days}d')
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-10-18,143.240938,146.625996,142.951367,146.336426,85589200,0.00,0
2021-10-19,146.795748,148.952604,146.336427,148.543198,76378900,0.00,0
2021-10-20,148.483299,149.531772,147.904142,149.042480,58418800,0.00,0
2021-10-21,148.593124,149.421916,147.654492,149.262146,61421000,0.00,0
2021-10-22,149.471855,149.961131,148.423382,148.473312,58883400,0.00,0
2021-10-25,148.463321,149.152318,147.404868,148.423386,50720600,0.00,0
2021-10-26,149.112382,150.620176,148.792841,149.102402,60893400,0.00,0
2021-10-27,149.142338,149.511794,148.273611,148.633087,56094900,0.00,0
2021-10-28,149.601664,152.946773,149.501804,152.347656,100077900,0.00,0
2021-10-29,147.005454,149.721491,146.196637,149.581696,124850400,0.00,0
2021-11-01,148.772875,149.481832,147.584607,148.742920,74588300,0.00,0
2021-11-02,148.443358,151.349121,148.433363,149.801376,69122000,0.00,0
2021-11-03,150.170838,151.748538,149.601677,151.269241,54511500,0.00,0
2021-11-04,151.359097,152.207849,150.420465,150.740005,60394600,0.00,0
2021-11-05,151.889999,152.199997,150.059998,151.279999,65414600,0.22,0
2021-11-08,151.410004,151.570007,150.160004,150.440002,55020900,0.00,0
2021-11-09,150.199997,151.429993,150.059998,150.809998,56787900,0.00,0
2021-11-10,150.020004,150.130005,147.850006,147.919998,65187100,0.00,0
2021-11-11,148.960007,149.429993,147.679993,147.869995,41000000,0.00,0
2021-11-12,148.429993,150.399994,147.479996,149.990005,63632600,0.00,0

In [14]:
hist.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits'], dtype='object')

In [16]:
hist.reset_index()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2021-10-18,143.240938,146.625996,142.951367,146.336426,85589200,0.00,0
1,2021-10-19,146.795748,148.952604,146.336427,148.543198,76378900,0.00,0
2,2021-10-20,148.483299,149.531772,147.904142,149.042480,58418800,0.00,0
3,2021-10-21,148.593124,149.421916,147.654492,149.262146,61421000,0.00,0
4,2021-10-22,149.471855,149.961131,148.423382,148.473312,58883400,0.00,0
5,2021-10-25,148.463321,149.152318,147.404868,148.423386,50720600,0.00,0
6,2021-10-26,149.112382,150.620176,148.792841,149.102402,60893400,0.00,0
7,2021-10-27,149.142338,149.511794,148.273611,148.633087,56094900,0.00,0
8,2021-10-28,149.601664,152.946773,149.501804,152.347656,100077900,0.00,0
9,2021-10-29,147.005454,149.721491,146.196637,149.581696,124850400,0.00,0
10,2021-11-01,148.772875,149.481832,147.584607,148.742920,74588300,0.00,0
11,2021-11-02,148.443358,151.349121,148.433363,149.801376,69122000,0.00,0
12,2021-11-03,150.170838,151.748538,149.601677,151.269241,54511500,0.00,0
13,2021-11-04,151.359097,152.207849,150.420465,150.740005,60394600,0.00,0
14,2021-11-05,151.889999,152.199997,150.059998,151.279999,65414600,0.22,0
15,2021-11-08,151.410004,151.570007,150.160004,150.440002,55020900,0.00,0
16,2021-11-09,150.199997,151.429993,150.059998,150.809998,56787900,0.00,0
17,2021-11-10,150.020004,150.130005,147.850006,147.919998,65187100,0.00,0
18,2021-11-11,148.960007,149.429993,147.679993,147.869995,41000000,0.00,0
19,2021-11-12,148.429993,150.399994,147.479996,149.990005,63632600,0.00,0

In [17]:
hist_msft = yf.Ticker('MSFT').history(period=f'{days}d')
hist_msft.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-10-18,303.570007,308.209991,302.690002,307.290009,22729300,0,0
2021-10-19,308.350006,309.299988,307.220001,308.230011,17682100,0,0
2021-10-20,309.209991,309.700012,306.109985,307.410004,16537100,0,0
2021-10-21,307.170013,311.019989,306.359985,310.760010,16918100,0,0
2021-10-22,310.399994,311.089996,307.799988,309.160004,17449300,0,0

In [19]:
pd.concat([hist, hist_msft], axis=1).head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,,,,,,,,
2021-10-18,143.240938,146.625996,142.951367,146.336426,85589200,0.0,0,303.570007,308.209991,302.690002,307.290009,22729300,0,0
2021-10-19,146.795748,148.952604,146.336427,148.543198,76378900,0.0,0,308.350006,309.299988,307.220001,308.230011,17682100,0,0
2021-10-20,148.483299,149.531772,147.904142,149.042480,58418800,0.0,0,309.209991,309.700012,306.109985,307.410004,16537100,0,0
2021-10-21,148.593124,149.421916,147.654492,149.262146,61421000,0.0,0,307.170013,311.019989,306.359985,310.760010,16918100,0,0
2021-10-22,149.471855,149.961131,148.423382,148.473312,58883400,0.0,0,310.399994,311.089996,307.799988,309.160004,17449300,0,0

In [20]:
hist.head(3)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-10-18,143.240938,146.625996,142.951367,146.336426,85589200,0.0,0
2021-10-19,146.795748,148.952604,146.336427,148.543198,76378900,0.0,0
2021-10-20,148.483299,149.531772,147.904142,149.042480,58418800,0.0,0

In [21]:
hist.Y

AttributeError: 'DataFrame' object has no attribute 'Y'

In [22]:
hist.Y()

AttributeError: 'DataFrame' object has no attribute 'Y'

In [23]:
hist.index

DatetimeIndex(['2021-10-18', '2021-10-19', '2021-10-20', '2021-10-21',
               '2021-10-22', '2021-10-25', '2021-10-26', '2021-10-27',
               '2021-10-28', '2021-10-29', '2021-11-01', '2021-11-02',
               '2021-11-03', '2021-11-04', '2021-11-05', '2021-11-08',
               '2021-11-09', '2021-11-10', '2021-11-11', '2021-11-12'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [25]:
hist.index = hist.index.strftime('%d %B %Y')

In [26]:
hist.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
18 October 2021,143.240938,146.625996,142.951367,146.336426,85589200,0.0,0
19 October 2021,146.795748,148.952604,146.336427,148.543198,76378900,0.0,0
20 October 2021,148.483299,149.531772,147.904142,149.042480,58418800,0.0,0
21 October 2021,148.593124,149.421916,147.654492,149.262146,61421000,0.0,0
22 October 2021,149.471855,149.961131,148.423382,148.473312,58883400,0.0,0

In [27]:
hist[['Close']]

                       Close
Date
18 October 2021   146.336426
19 October 2021   148.543198
20 October 2021   149.042480
21 October 2021   149.262146
22 October 2021   148.473312
25 October 2021   148.423386
26 October 2021   149.102402
27 October 2021   148.633087
28 October 2021   152.347656
29 October 2021   149.581696
01 November 2021  148.742920
02 November 2021  149.801376
03 November 2021  151.269241
04 November 2021  150.740005
05 November 2021  151.279999
08 November 2021  150.440002
09 November 2021  150.809998
10 November 2021  147.919998
11 November 2021  147.869995
12 November 2021  149.990005

                      apple
Date
18 October 2021  146.336426
19 October 2021  148.543198
20 October 2021  149.042480
21 October 2021  149.262146
22 October 2021  148.473312

In [35]:
hist = hist.T

In [33]:
hist.index.name = 'Name'
hist

                       apple
Name
18 October 2021   146.336426
19 October 2021   148.543198
20 October 2021   149.042480
21 October 2021   149.262146
22 October 2021   148.473312
25 October 2021   148.423386
26 October 2021   149.102402
27 October 2021   148.633087
28 October 2021   152.347656
29 October 2021   149.581696
01 November 2021  148.742920
02 November 2021  149.801376
03 November 2021  151.269241
04 November 2021  150.740005
05 November 2021  151.279999
08 November 2021  150.440002
09 November 2021  150.809998
10 November 2021  147.919998
11 November 2021  147.869995
12 November 2021  149.990005

In [34]:
hist

                       apple
Name
18 October 2021   146.336426
19 October 2021   148.543198
20 October 2021   149.042480
21 October 2021   149.262146
22 October 2021   148.473312
25 October 2021   148.423386
26 October 2021   149.102402
27 October 2021   148.633087
28 October 2021   152.347656
29 October 2021   149.581696
01 November 2021  148.742920
02 November 2021  149.801376
03 November 2021  151.269241
04 November 2021  150.740005
05 November 2021  151.279999
08 November 2021  150.440002
09 November 2021  150.809998
10 November 2021  147.919998
11 November 2021  147.869995
12 November 2021  149.990005

In [36]:
hist.T

                       apple
Name
18 October 2021   146.336426
19 October 2021   148.543198
20 October 2021   149.042480
21 October 2021   149.262146
22 October 2021   148.473312
25 October 2021   148.423386
26 October 2021   149.102402
27 October 2021   148.633087
28 October 2021   152.347656
29 October 2021   149.581696
01 November 2021  148.742920
02 November 2021  149.801376
03 November 2021  151.269241
04 November 2021  150.740005
05 November 2021  151.279999
08 November 2021  150.440002
09 November 2021  150.809998
10 November 2021  147.919998
11 November 2021  147.869995
12 November 2021  149.990005

In [37]:
hist.index

Index(['apple'], dtype='object')

In [40]:
hist = hist[['Close']]
hist.columns = [['apple']]
hist.head()

KeyError: "None of [Index(['Close'], dtype='object', name='Name')] are in the [columns]"

In [41]:
hist.T

                       apple
Name
18 October 2021   146.336426
19 October 2021   148.543198
20 October 2021   149.042480
21 October 2021   149.262146
22 October 2021   148.473312
25 October 2021   148.423386
26 October 2021   149.102402
27 October 2021   148.633087
28 October 2021   152.347656
29 October 2021   149.581696
01 November 2021  148.742920
02 November 2021  149.801376
03 November 2021  151.269241
04 November 2021  150.740005
05 November 2021  151.279999
08 November 2021  150.440002
09 November 2021  150.809998
10 November 2021  147.919998
11 November 2021  147.869995
12 November 2021  149.990005

In [42]:
hist = hist.T
hist

                       apple
Name
18 October 2021   146.336426
19 October 2021   148.543198
20 October 2021   149.042480
21 October 2021   149.262146
22 October 2021   148.473312
25 October 2021   148.423386
26 October 2021   149.102402
27 October 2021   148.633087
28 October 2021   152.347656
29 October 2021   149.581696
01 November 2021  148.742920
02 November 2021  149.801376
03 November 2021  151.269241
04 November 2021  150.740005
05 November 2021  151.279999
08 November 2021  150.440002
09 November 2021  150.809998
10 November 2021  147.919998
11 November 2021  147.869995
12 November 2021  149.990005

In [43]:
hist.head(3)

                      apple
Name
18 October 2021  146.336426
19 October 2021  148.543198
20 October 2021  149.042480

In [45]:
hist = hist.T
hist

Name,18 October 2021,19 October 2021,20 October 2021,21 October 2021,22 October 2021,25 October 2021,26 October 2021,27 October 2021,28 October 2021,29 October 2021,01 November 2021,02 November 2021,03 November 2021,04 November 2021,05 November 2021,08 November 2021,09 November 2021,10 November 2021,11 November 2021,12 November 2021
apple,146.336426,148.543198,149.04248,149.262146,148.473312,148.423386,149.102402,148.633087,152.347656,149.581696,148.74292,149.801376,151.269241,150.740005,151.279999,150.440002,150.809998,147.919998,147.869995,149.990005

In [46]:
hist.index.name = 'Name'

In [47]:
hist

Name,18 October 2021,19 October 2021,20 October 2021,21 October 2021,22 October 2021,25 October 2021,26 October 2021,27 October 2021,28 October 2021,29 October 2021,01 November 2021,02 November 2021,03 November 2021,04 November 2021,05 November 2021,08 November 2021,09 November 2021,10 November 2021,11 November 2021,12 November 2021
Name,,,,,,,,,,,,,,,,,,,,
apple,146.336426,148.543198,149.04248,149.262146,148.473312,148.423386,149.102402,148.633087,152.347656,149.581696,148.74292,149.801376,151.269241,150.740005,151.279999,150.440002,150.809998,147.919998,147.869995,149.990005